body {
	background-color: #eeede7;
	color: #060604;
	padding: 45px 20%;
}
@media screen and (max-width: 450px) {
	body {
		padding: 45px 0%;
	}
}
@media screen and (max-width: 768px) {
	body {
		padding: 45px 10%;
	}
}
@media screen and (min-width: 1440px) {
	body {
		padding: 45px 25%;
	}
}
.wrapper {
	padding: 2vw;
	margin: 0 auto;
}
.tagline {
	margin: 0 0 5px 0;
	font-size: 25px;
	text-align: center;
}
.counter {
	margin: 0 0 15px 0;
	font-size: 18px;
	text-align: center;
}
.todo {
	border-radius: 15px;
	background-color: #313245;
	color: #eeede7;
	display: flex;
	margin: 6px 0 6px 0;
	min-height: 25px;
}
.todo input[type="text"] {
	border: none;
	background-color: inherit;
	color: #060604;
	width: 100%;
}
.todo-input,
.todo-update {
	background-color: #d8c9d9;
	color: #05252e;
	padding-left: 12px;
	padding-right: 5px;
}
.todo input[type="text"]:focus {
	outline: none;
}
.todo input[type="checkbox"] {
	margin: 3px 5px 3px 10px;
}
span.task {
	width: 100%;
}
span.task.todo-complete {
	opacity: 0.5;
	text-decoration: line-through;
}
.todo svg {
	cursor: pointer;
}
.add-btn {
	height: 17px;
	margin: 4px 6px;
}
.edit-btn {
	height: 15px;
	margin: 5px 6px;
}
.del-btn {
	height: 15px;
	margin: 5px 10px 5px 0;
}
.add-btn {
	color: #313245;
}
.del-btn,
.edit-btn {
	color: #e9e1ea;
}

/* Footer styling start */
.footer {
	background-color: #d8c9d9;
	color: #05252e;
	box-shadow: 0 10px 20px #797579;
	/* background-color: #6b6e94;
	color: #e9e1ea; */
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 25px;
	padding: 10px;
}
.footnote {
	margin: 0 10px;
	height: 100%;
	width: 100%;
}
.social-links {
	display: flex;
	margin: 0 10px;
}
.social-links svg {
	height: 100%;
	margin-left: 10px;
	color: #313245;
}
/* Footer styling end */

/* Header styling start */
.header {
	background-color: #313245;
	color: #eeede7;
	box-shadow: 0 -10px 20px #313245;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 25px;
	padding: 10px;
}
.title {
	height: 100%;
	width: 100%;
	margin: 0;
}
.logo {
	margin: 0 10px;
}
/* Header styling end */
